<h3>Todos list</h3>
<!-- <p *ngIf="!todoItems().length">Loading...</p> -->

@if(!todoItems().length){
<p>Loading.....</p>
}

<form action="">
  <label for="">Filter todos</label>
  <input
    name="searcTerm"
    [(ngModel)]="searcTerm"
    type="text"
    placeholder="Search todos..."
  />
</form>

<ul class="todos">
  @for (item of todoItems() | filterTodos: searcTerm(); track item.id) {
  <app-todo-item (itemToggoled)="updateTodoItem($event)" [todoItem]="item" />
  <!-- <li class="todos__items">
    <input id="todo-{{ item.id }}" type="checkbox" value="item.completed" />
    <label for="todo-{{ item.id }}">{{ item.title }}</label>
  </li> -->
  }
</ul>
